@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.bg-main-background {
  background-color: #222831;
}

.bg-secondary-background {
  background-color: #393e46;
}

.bg-accent-color {
  background-color: #dfd0b8;
} 

.bg-secondary-accent-color {
  background-color: #948979;
}

.bg-default-background {
  background-color: #a7b1c2;
}

.text-dark-color{
  color: #222831;
}

.text-secondary-dark-color{
  color: #393e46;
}

.text-main-color {
  color: #dfd0b8;
} 

.text-outline {
  text-shadow: 
    -1px -1px 0 #222831, /* Top-left shadow */
     1px -1px 0 #222831, /* Top-right shadow */
    -1px  1px 0 #222831, /* Bottom-left shadow */
     1px  1px 0 #222831; /* Bottom-right shadow */
}

.text-secondary-color {
  color: #948979;
}

.border-main-color {
  border-color: #dfd0b8;
}

.border-secondary-color {
  border-color: #948979;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
